.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding-left: 88px;
}

.wrapper > :not(aside) {
  width: 100%;
}

@media (max-width: 768px) {
  .wrapper { padding-left: 0; }
}

.wrapper > main {
  flex: 1;
}
